FormatStyle: file
HeaderFilterRegex: '.*'

Checks:

'
-*,

bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-narrowing-conversions,

cert-*,

clang-analyzer-*,

concurrency-*,

cppcoreguidelines-*,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-avoid-const-or-ref-data-members,
-cppcoreguidelines-avoid-do-while,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-member-init,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-virtual-class-destructor,

google-*,
-google-readability-namespace-comments,
-google-runtime-int,

hicpp-*,
-hicpp-avoid-c-arrays,
-hicpp-member-init,
-hicpp-named-parameter,
-hicpp-signed-bitwise,
-hicpp-special-member-functions,
-hicpp-uppercase-literal-suffix,
-hicpp-use-equals-default,

misc-*,
-misc-misplaced-const,
-misc-no-recursion,

modernize-*,
-modernize-avoid-c-arrays,
-modernize-use-equals-default,
-modernize-use-std-numbers,
-modernize-use-trailing-return-type,

performance-*,
-performance-enum-size,

readability-*,
-readability-identifier-length,
-readability-magic-numbers,
-readability-math-missing-parentheses,
-readability-named-parameter,
-readability-static-accessed-through-instance,
'

CheckOptions:

- key:   concurrency-mt-unsafe.FunctionSet
  value: 'glibc'
- key:   cppcoreguidelines-macro-usage.CheckCapsOnly
  value: '1'
- key:   cppcoreguidelines-narrowing-conversions.PedanticMode
  value: '1'
- key:   cppcoreguidelines-narrowing-conversions.WarnOnIntegerNarrowingConversion
  value: '0'
- key:   cppcoreguidelines-rvalue-reference-param-not-moved.IgnoreUnnamedParams
  value: '1'
- key:   misc-const-correctness.WarnPointersAsValues
  value: '1'
- key:   misc-const-correctness.AllowedTypes
  value: 'std::[a-z_]+_distribution'
- key:   misc-include-cleaner.IgnoreHeaders
  value: 'Q[a-z].*\.h$'
- key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
  value: '1'
- key:   modernize-use-auto.MinTypeNameLength
  value: '0'
- key:   readability-function-cognitive-complexity.Threshold
  value: '13'
- key:   readability-implicit-bool-conversion.AllowIntegerConditions
  value: '1'
- key:   readability-implicit-bool-conversion.AllowPointerConditions
  value: '1'
- key:   readability-simplify-boolean-expr.SimplifyDeMorgan
  value: '0'
- key:   readability-uppercase-literal-suffix.NewSuffixes
  value: 'u;ul;ull;L;LL;LU;LLU'

- key:   readability-identifier-naming.AbstractClassCase
  value: 'CamelCase'
- key:   readability-identifier-naming.ClassCase
  value: 'CamelCase'
- key:   readability-identifier-naming.ClassConstantCase
  value: 'UPPER_CASE'
- key:   readability-identifier-naming.ClassMemberCase
  value: 'lower_case'
- key:   readability-identifier-naming.ClassMemberSuffix
  value: '_'
- key:   readability-identifier-naming.ClassMethodCase
  value: 'lower_case'
- key:   readability-identifier-naming.ConceptCase
  value: 'CamelCase'
- key:   readability-identifier-naming.ConstantCase
  value: 'lower_case'
- key:   readability-identifier-naming.ConstantMemberCase
  value: 'lower_case'
- key:   readability-identifier-naming.ConstantMemberSuffix
  value: '_'
- key:   readability-identifier-naming.ConstantParameterCase
  value: 'lower_case'
- key:   readability-identifier-naming.ConstantPointerParameterCase
  value: 'lower_case'
- key:   readability-identifier-naming.ConstexprFunctionCase
  value: 'lower_case'
- key:   readability-identifier-naming.ConstexprMethodCase
  value: 'lower_case'
- key:   readability-identifier-naming.ConstexprVariableCase
  value: 'UPPER_CASE'
- key:   readability-identifier-naming.EnumCase
  value: 'CamelCase'
- key:   readability-identifier-naming.EnumConstantCase
  value: 'UPPER_CASE'
- key:   readability-identifier-naming.FunctionCase
  value: 'lower_case'
- key:   readability-identifier-naming.GlobalConstantCase
  value: 'UPPER_CASE'
- key:   readability-identifier-naming.GlobalConstantPointerCase
  value: 'UPPER_CASE'
- key:   readability-identifier-naming.GlobalFunctionCase
  value: 'lower_case'
- key:   readability-identifier-naming.GlobalPointerCase
  value: 'lower_case'
- key:   readability-identifier-naming.GlobalVariableCase
  value: 'lower_case'
- key:   readability-identifier-naming.InlineNamespaceCase
  value: 'lower_case'
- key:   readability-identifier-naming.LocalConstantCase
  value: 'lower_case'
- key:   readability-identifier-naming.LocalConstantPointerCase
  value: 'lower_case'
- key:   readability-identifier-naming.LocalPointerCase
  value: 'lower_case'
- key:   readability-identifier-naming.LocalVariableCase
  value: 'lower_case'
- key:   readability-identifier-naming.MacroDefinitionCase
  value: 'UPPER_CASE'
- key:   readability-identifier-naming.MemberCase
  value: 'lower_case'
- key:   readability-identifier-naming.MemberSuffix
  value: '_'
- key:   readability-identifier-naming.MethodCase
  value: 'lower_case'
- key:   readability-identifier-naming.NamespaceCase
  value: 'lower_case'
- key:   readability-identifier-naming.ParameterCase
  value: 'lower_case'
- key:   readability-identifier-naming.ParameterPackCase
  value: 'lower_case'
- key:   readability-identifier-naming.PointerParameterCase
  value: 'lower_case'
- key:   readability-identifier-naming.PublicMemberCase
  value: 'lower_case'
- key:   readability-identifier-naming.ScopedEnumConstantCase
  value: 'UPPER_CASE'
- key:   readability-identifier-naming.StaticConstantCase
  value: 'lower_case'
- key:   readability-identifier-naming.StaticVariableCase
  value: 'lower_case'
- key:   readability-identifier-naming.StructCase
  value: 'CamelCase'
- key:   readability-identifier-naming.TemplateParameterCase
  value: 'CamelCase'
- key:   readability-identifier-naming.TemplateTemplateParameterCase
  value: 'CamelCase'
- key:   readability-identifier-naming.TypeAliasCase
  value: 'CamelCase'
- key:   readability-identifier-naming.TypedefCase
  value: 'CamelCase'
- key:   readability-identifier-naming.TypeTemplateParameterCase
  value: 'CamelCase'
- key:   readability-identifier-naming.UnionCase
  value: 'CamelCase'
- key:   readability-identifier-naming.ValueTemplateParameterCase
  value: 'UPPER_CASE'
- key:   readability-identifier-naming.VariableCase
  value: 'lower_case'
- key:   readability-identifier-naming.VirtualMethodCase
  value: 'lower_case'
