AccessModifierOffset: -8
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
        Enabled: false
AlignConsecutiveBitFields:
        Enabled: false
AlignConsecutiveDeclarations:
        Enabled: false
AlignConsecutiveMacros:
        Enabled: false
AlignConsecutiveShortCaseStatements:
        Enabled: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
        Kind: Never
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: true
BinPackParameters: false
BitFieldColonSpacing: After
BraceWrapping:
        AfterCaseLabel: true
        AfterClass: true
        AfterControlStatement: Always
        AfterEnum: true
        AfterFunction: true
        AfterNamespace: true
        AfterStruct: true
        AfterUnion: true
        AfterExternBlock: true
        BeforeCatch: true
        BeforeElse: true
        BeforeLambdaBody: true
        BeforeWhile: false
        IndentBraces: false
        SplitEmptyFunction: true
        SplitEmptyRecord: true
        SplitEmptyNamespace: true
BracedInitializerIndentWidth: 8
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Never
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeConceptDeclarations: Always
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakFunctionDefinitionParameters: false
BreakInheritanceList: BeforeColon
BreakStringLiterals: false
BreakTemplateDeclarations: Yes
ColumnLimit: 120
CompactNamespaces: false
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: true
DerivePointerAlignment: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"ui_.+\.h"$'
    Priority:        40
  - Regex:           '^"[^\/\\]*"$'
    Priority:        10
  - Regex:           '^"[^\.].*"$'
    Priority:        20
  - Regex:           '^".*"$'
    Priority:        30
  - Regex:           '^<src\/.*>$'
    Priority:        50
  - Regex:           '^<[A-Z].*>$'
    CaseSensitive:   true
    Priority:        60
  - Regex:           '^<[a-z_]+>$'
    CaseSensitive:   true
    Priority:        80
  - Regex:           '^<.*>$'
    Priority:        70
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: None
IndentRequiresClause: true
IndentWidth: 8
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
        Binary: 4
        BinaryMinDigits: 0
        Decimal: 0
        DecimalMinDigits: 0
        Hex: 0
        HexMinDigits: 0
KeepEmptyLines:
        AtEndOfFile: false
        AtStartOfBlock: false
        AtStartOfFile: false
LambdaBodyIndentation: Signature
LineEnding: LF
MainIncludeChar: Quote
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PPIndentWidth: -1
PackConstructorInitializers: Never
# PenaltyBreakAssignment: 0
# PenaltyBreakBeforeFirstCallParameter: 19
# PenaltyBreakComment: 300
# PenaltyBreakFirstLessLess: 120
# PenaltyBreakOpenParenthesis: 0
# PenaltyBreakScopeResolution: 0
# PenaltyBreakString: 1000
# PenaltyBreakTemplateDeclaration: 0
# PenaltyExcessCharacter: 900
PenaltyIndentedWhitespace: 8
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [inline, static, friend, constexpr, const, volatile, type, restrict]
ReferenceAlignment: Left
ReflowComments: true
RemoveParentheses: Leave
RemoveSemicolon: false
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: Keyword
SeparateDefinitionBlocks: Leave
ShortNamespaceLines: 1
SkipMacroDefinitionBody: false
SortIncludes: CaseSensitive
SortUsingDeclarations: Lexicographic
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
        AfterControlStatements: true
        AfterForeachMacros: false
        AfterFunctionDeclarationName: false
        AfterFunctionDefinitionName: false
        AfterIfMacros: false
        AfterOverloadedOperator: false
        AfterPlacementOperator: true
        AfterRequiresInClause: true
        AfterRequiresInExpression: true
        BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
        Minimum: 1
        Maximum: 1
SpacesInParens: Custom
SpacesInParensOptions:
        ExceptDoubleParentheses: false
        InConditionalStatements: false
        InCStyleCasts: false
        InEmptyParentheses: false
        Other: false
SpacesInSquareBrackets: false
Standard: Latest
TabWidth: 8
UseTab: Never
